/* Applying box-sizing: border-box; to all of the elements */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

/* Add CSS for clear */
.clear {
  clear: left;
}

/* CSS for container */
.container {
  /* Changing the max-width to 1170px */
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* CSS for top-wrapper */
.top-wrapper {
  padding: 180px 0 100px 0;
  color: white;
  background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
  background-size: cover;
  text-align: center;
}

/* CSS for <h1> tags within top-wrapper */
.top-wrapper h1 {
  font-size: 45px;
  opacity: 0.7;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

/* CSS for <h2> tags within top-wrapper */
.top-wrapper h2 {
  font-size: 45px;
  opacity: 0.7;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

/* CSS for <p> tags within top-wrapper */
.top-wrapper p {
  margin-bottom: 3px;
  opacity: 0.7
}

/* CSS for btn */
.btn {
  opacity: 0.8;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 12px 24px;
  border-radius: 4px;
}

/* CSS for btn-wrapper */
.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

/* CSS for btn-wrapper p */
.btn-wrapper p {
  margin: 10px 0;
}

/* CSS for btn on hover */
.btn:hover {
  opacity: 1.0;
}

/* CSS for signup */
.signup {
  background-color: #239b76;
}

/* CSS for facebook */
.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

/* CSS for twitter */
.twitter {
  background-color: #55acee;
  margin-left: 10px;
}

/* CSS for h1 */
h1 {
  color: #ff0000;
}

/* Adding a breakpoint at max-width: 1000px For Tablets */
@@media (max-width: 1000px) {

  /* Changing <h1>'s color property to blue */
  h1 {
    color: #0000ff;
    width: 50%;
  }
}

/* Adding a breakpoint at max-width: 670px For Smartphones */
@media (max-width: 670px) {

  /* Changing <h1>'s color property to green */
  h1 {
    color: #008000;
    width: 100%;
  }
}

h2 {
  color: black;
}

/* Adding a breakpoint at max-width: 1000px */
@@media (max-width: 1000px) {

  /* Changing <h2>'s color property to blue */
  h2 {
    color: #0000ff;
    width: 50%;
  }
}

/* Adding a breakpoint at max-width: 670px */
@media (max-width: 670px) {

  /* Changing <h2>'s color property to green */
  h2 {
    color: #008000;
    width: 100%;
  }
}

/* CSS for btn-wrapper */
.btn-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/* CSS for <p> tags inside btn-wrapper */
.btn-wrapper p {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Changing fa's margin-right to 5px */
.fa {
  margin-right: 5px;
}

/* CSS for <header> tags */
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  /* Changing the position property to fixed, and top property to 0 */
  position: fixed;
  top: 0;
  /* Changing the z-index property to 10 */
  z-index: 10;
}

/* CSS for logo */
.logo {
  width: 124px;
  margin-top: 20px;
}

/* CSS for header-left */
.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

/* CSS for <a> tags inside header-right */
.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

/* CSS for header-right on hover */
.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Adding CSS for menu-icon */
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* Changing the display property to none */
  display: none;
}

/* CSS for lesson-wrapper */
.lesson-wrapper {
  /* height: 580px; Removing CSS for height */
  padding-right: 5%;
  padding-left: 5%;
  text-align: center;
  padding-bottom: 80px;
  background-color: #f7f7f7;
}

/* CSS for heading */
.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

/* CSS for <h3> tags inside heading */
.heading h3 {
  font-weight: normal;
}

/* CSS for lesson */
.lesson {
  float: left;
  width: 25%;
  text-align: center;
}

/* CSS for lesson-icon */
.lesson-icon {
  position: relative;
}

/* CSS for <p> tags inside lesson-icon */
.lesson-icon p {
  position: absolute;
  top: 44px;
  color: white;
  width: 100%;
}

/* CSS for txt-contents */
.text-contents {
  width: 80px;
  display: inline-block;
  margin-top: 15px;
  color: #b3aeb5;
  font-size: 15px;
}

.heading h2 {
  font-weight: normal;
}

/* CSS for message-wrapper */
.message-wrapper {
  padding-bottom: 80px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

/* CSS for message */
.message {
  padding: 15px 40px;
  background-color: #5dca88;
  /* putting the cursor property to pointer */
  cursor: pointer;
  /* putting the box-shadow property */
  box-shadow: 0 7px #1a7940;
}

/* CSS for message when it's clicked */
.message:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

/*CSS for Contact-form*/
.contact-form {
  padding-top: 100px;
  text-align: center;
}

/*CSS for input,  textarea*/
input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}
/*CSS for Contact-submit*/
.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}

/* CSS for <img> tags inside the <footer> */
footer img {
  width: 125px;
}

/* CSS for <p> tags inside the <footer> */
footer p {
  font-size: 12px;
  color: #b3aeb5;
}

/* CSS for <footer> tags */
footer {
  background-color: #2f5167;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 20px;
}
